<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['..']">Interne tracing {{uniqueCode}}</a></li>
  <li class="breadcrumb-item active">Mailen</li>
</ol>
<div class="row" >

  <div class="col-md-9">


    <div class="card">
      <div class="card-body">
        <h2 class="h4">Gevonden orders voor ingrediënt {{uniqueCode}}</h2>
        <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      </div>

    </div>


    <div class="card mt-2" *ngFor="let orderItem of orderList">
      <div class="card-body">


        <div class="card-text" >


        <div>
          <div class="font-weight-bold">Order nummer {{orderItem.id}} van  {{orderItem.customer.firstName}} {{orderItem.customer.lastName}}</div>
          <span *ngIf="orderItem.orderlines.length === 1">Betreffend product:</span>
          <span *ngIf="orderItem.orderlines.length > 1">Betreffende producten:</span>
          <ul>
          <li *ngFor="let orderlineItem of orderItem.orderlines"> {{orderlineItem.product.name}}</li>
          </ul>
        </div>

        </div>

      </div>

    </div>
    <button type="button" class="btn btn-danger btn-block" (click)="recall()">Terugroep mail verzenden naar klanten</button>



  </div>
</div>
