<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container-fluid">

  <a class="navbar-brand" href="#"><img src="../assets/img/bakmix.png" alt="BakMix logo" width="60" height="60"></a>

  <h1 class="navbar-brand m-0 p-0"><a class="navbar-brand" href="#">BakMix</a></h1>




  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="hasValidAccessToken" href="#">Home</a>
      </li>
      <li class="nav-item" *ngIf="hasValidAccessToken">
        <a class="nav-link" routerLink="/ingredients">Ingrediënten</a>
      </li>
      <li class="nav-item" *ngIf="hasValidAccessToken">
        <a class="nav-link" routerLink="/products">Producten</a>
      </li>
      <li class="nav-item" *ngIf="hasValidAccessToken">
        <a class="nav-link" routerLink="/customers">Klanten</a>
      </li>
      <li class="nav-item" *ngIf="hasValidAccessToken">
        <a class="nav-link" routerLink="/orders">Orders</a>
      </li>
      <li class="nav-item" *ngIf="!hasValidAccessToken">
        <a type="button"  class="nav-link" (click)="login()">Login</a>
      </li>
      <li class="nav-item" *ngIf="hasValidAccessToken">
        <a type="button" class="nav-link" (click)="logoff()">Logout</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

{{claims | json}}

<div *ngIf="hasValidAccessToken" class="container-fluid pt-3">
  <router-outlet></router-outlet>
</div>
