<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Bestellingen lijst</li>
</ol>
<div class="card">
  <div class="card-body">
    <h2 class="h4">Bestellingen lijst</h2>
    <div class="card-text">
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-centered table-hover mb-0" id="datatable2">
            <thead>
            <tr>
              <th class="border-top-0" scope="col">#</th>
              <th class="border-top-0" scope="col">Klant</th>
              <th class="border-top-0" scope="col">Status</th>
              <th class="border-top-0" scope="col" style="width:120px"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItem of orderList">

              <td>{{orderItem.id}}</td>
              <td>{{orderItem.customer.firstName}} {{orderItem.customer.lastName}}</td>
              <td>{{getStatusType(orderItem.status)}}</td>
              <td style="white-space: nowrap">
                <a [routerLink]="['../orders', orderItem.id ]" class="btn btn-secondary">Bekijk</a>&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>      </div></div>

</div>
