<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Bestellingen lijst</li>
</ol>
<div class="card">
  <div class="card-body">
    <h2>Bestellingen lijst</h2>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-centered table-hover mb-0" id="datatable2">
            <thead>
            <tr>
              <th class="border-top-0" scope="col">#</th>
              <th class="border-top-0" scope="col">Klant</th>
              <th class="border-top-0" scope="col">Status</th>
              <th class="border-top-0" scope="col" style="width:120px"></th>
            </tr>
            </thead>
            <tbody>

            <tr *ngIf="orderList.length === 0"><td><br><br>Nog geen orders</td></tr>


            <tr *ngFor="let orderItem of orderList">

              <td>{{orderItem.id}}</td>
              <td>{{orderItem.customer.firstName}} {{orderItem.customer.lastName}}</td>
              <td *ngIf="orderItem.status < 3"><span class="status-badge notready">{{getStatusType(orderItem.status)}}</span></td>
              <td *ngIf="orderItem.status == 3"><span class="status-badge ok">{{getStatusType(orderItem.status)}}</span></td>
              <td style="white-space: nowrap">
                <a [routerLink]="['../orders', orderItem.id ]" class="btn btn-secondary"><i class="fas fa-dolly"></i> Bekijk</a>&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [maxSize]="10"
                            [collectionSize]="total$ | async" [(page)]="filter.page" [pageSize]="filter.size" (pageChange)="onPageChange(filter.page)">
            </ngb-pagination>
            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="filter.size" (ngModelChange)="onChange(filter.size)">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
              <option [ngValue]="50">50 items per page</option>
            </select>
          </div>
        </div>
      </div>      </div></div>
