<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['..']">Bestellingen lijst</a>&nbsp;</li>
  <li *ngIf="order" class="breadcrumb-item active">Bestelling {{order.id}}</li>
</ol>

<div class="row">

  <div class="col-md-9">

    <div class="card">
      <div class="card-body">
        <h2 class="h4">Bestelling {{order.id}} </h2>
        <div class="card-text">
          <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
          <div class="card-text">
            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable2">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{getStatusType(order.status)}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable4">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">Qty</th>
                  <th class="border-top-0" scope="col">Naam</th>
                  <th class="border-top-0" scope="col">Stukprijs</th>
                  <th class="border-top-0" scope="col">Totaal</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                </tr>
                </thead>
                <tbody>
                <tr   *ngFor="let orderline of order.orderlines">
                  <td>{{orderline.qty}}x </td>
                  <td> {{orderline.product.name}}</td>
                  <td> {{orderline.purchasePrice | number : '1.2-2'}}</td>
                  <td> {{(orderline.qty * orderline.purchasePrice) | number : '1.2-2'}}</td>
                  <td style="white-space: nowrap">
                    <a [routerLink]="['./orderlines', orderline.id ]"  class="btn btn-secondary" title="Orderlijn bekijken">Bekijken</a>&nbsp;
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="text-right mt-2">
                Subtotaal (excl btw): {{order.subTotal | number : '1.2-2'}}<br>
                Korting: - {{order.discount | number : '1.2-2'}} <br >
                Verzending: + {{order.shippingCost | number : '1.2-2'}}<br>
                Btw: + {{order.vatTotal | number : '1.2-2'}} <br>
                <strong>Totaal: {{order.total | number : '1.2-2'}}</strong>
              </div>
            </div>
          </div>      </div></div>

    </div>
  </div>

  <div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <h2 class="h4">Klant</h2>
      <div class="card-text">
        <div class="card-text">

          {{order.customer.firstName}}   {{order.customer.lastName}} <br>
          {{order.customer.address}} <br>
          {{order.customer.zipCode}}    {{order.customer.city}}<br>
          <br>
          Phone:           {{order.customer.phone}} <br>
          E-mail:           {{order.customer.email}}

        </div>      </div></div>

  </div>
</div>

  <div class="row m-4">
    <a [routerLink]="['print']"  class="btn btn-secondary" title="Printmogelijkheden">Printen label/factuur</a>&nbsp;
    <a  *ngIf="order.status === 1" class="btn btn-secondary disabled" title="Verzenden kan pas na volledige ingave">Ingrediënten ingave onvolledig, verzending niet mogelijk</a>&nbsp;
    <a  *ngIf="order.status === 2" [routerLink]="['send']" class="btn btn-secondary">Verzenden</a>&nbsp;
    <a  *ngIf="order.status === 3" class="btn btn-secondary disabled" title="De mail is reeds verzonden naar deze klant">Is reeds verzonden</a>&nbsp;
  </div>
</div>
