<div class="row" *ngIf="order">

  <div class="col-md-6">


    <div class="card">
      <div class="card-body">
        <h2 class="h4">Bestelling {{order.id}} </h2>
        <div class="card-text">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable2">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">Status</th>
                  <th class="border-top-0" scope="col">Discount</th>
                  <th class="border-top-0" scope="col">Shipping Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td>{{getStatusType(order.status)}}</td>
                  <td> {{order.discount}}</td>
                  <td> {{order.shippingCost}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable4">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">Qty</th>
                  <th class="border-top-0" scope="col">Id</th>
                  <th class="border-top-0" scope="col">OrderID</th>
                  <th class="border-top-0" scope="col">ProductID</th>
                  <th class="border-top-0" scope="col">Name</th>
                  <th class="border-top-0" scope="col">Purchase Price</th>

                </tr>
                </thead>
                <tbody>
                <tr   *ngFor="let orderline of order.orderlines">

                  <td>{{orderline.qty}}</td>
                  <td>{{orderline.id}}</td>
                  <td> {{orderline.orderId}}</td>
                  <td> {{orderline.productId}}</td>
                  <td> {{orderline.product.name}}</td>
                  <td> {{orderline.purchasePrice}}</td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>      </div></div>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="h4">Klant</h2>
      <div class="card-text">
        <div class="card-text">

          {{order.customer.firstName}}   {{order.customer.lastName}} <br>
          {{order.customer.address}} <br>
          {{order.customer.zipCode}}    {{order.customer.city}}<br>
          <br>
          Phone:           {{order.customer.phone}} <br>
          E-mail:           {{order.customer.email}}






        </div>      </div></div>

  </div>
</div>
