<div class="row pl-5 pb-3">  <a [routerLink]="['../..']" class="btn btn-secondary">back to order</a>&nbsp;
</div>
<div class="row">

  <div class="col-md-6">



    <div class="card" *ngIf="orderline">
      <div class="card-body">
        <h2 class="h4">Orderlijn {{orderline.id}} gekoppelde ingrediënten - {{orderline.product.name}}</h2>
        <div class="card-text">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable2">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">#</th>
                  <th class="border-top-0" scope="col">Name</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingredient of orderline.ingredients">

                  <td>{{ingredient.uniqueCode}}</td>
                  <td>{{ingredient.brand}} {{ingredient.type}}</td>
                  <td style="white-space: nowrap">
                    <button type="submit" class="btn btn-primary" (click)="removeTracing(ingredient.ingredienttracingId)">{{ingredient.ingredienttracingId | json}}Remove</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>      </div></div>
    </div>
  </div>

  <div class="col-md-6">


    <div class="card">
      <div class="card-body">
        <h2 class="h4">Ingrediënten</h2>
        <div class="card-text">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable4">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">#</th>
                  <th class="border-top-0" scope="col">Name</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingredientItem of ingredients">
                  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>

                  <td>{{ingredientItem.uniqueCode}}</td>
                  <td>{{ingredientItem.brand}} {{ingredientItem.type}}</td>
                  <td style="white-space: nowrap">
                    <button type="submit" class="btn btn-primary" (click)="saveTracing(ingredientItem.id, orderline.id)">Add</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>      </div></div>
    </div>
  </div>
</div>
