<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['../..']" *ngIf="order">Terug naar bestelling {{order.id}}</a></li>
  <li *ngIf="orderline" class="breadcrumb-item active">Orderlijn {{orderline.id}}</li>
</ol>

<div class="row">


  <div class="col-md-6">

    <div class="card">
      <div class="card-body">
        <h2 class="h4">Orderlijn {{orderline.id}} gekoppelde ingrediënten - {{orderline.product.name}}</h2>
        <div class="card-text">
          <div class="card-text">

            <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>

            <div *ngIf="!orderline.ingredients" class="alert alert-info">Nog geen ingegeven ingrediënten</div>

            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable2">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">#</th>
                  <th class="border-top-0" scope="col">Name</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                  <th class="border-top-0" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingredient of orderline.ingredients">

                  <td>{{ingredient.uniqueCode}}</td>
                  <td>{{ingredient.brand}} {{ingredient.type}}</td>
                  <td style="white-space: nowrap">
                    <button *ngIf="order.status != 3" type="submit" class="btn btn-primary" (click)="removeTracing(ingredient.ingredienttracingId)">Ontkoppelen</button>
                  </td>
                  <td>
                    <button *ngIf="ingredient.available == true" (click)="switchIngredientStatus(ingredient)" class="btn btn-dark mr-1">Is nu opgebruikt</button>
                    <button *ngIf="ingredient.available == false" (click)="switchIngredientStatus(ingredient)" class="btn btn-success mr-1">Wel beschikbaar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>      </div></div>
    </div>
  </div>

  <div class="col-md-6">


    <div class="card">
      <div class="card-body">
        <h2 class="h4">Ingrediënten</h2>
        <div class="card-text">
          <div class="card-text">
            <div *ngIf="feedbackAdd.message" class="alert alert-{{feedbackAdd.type}}">{{ feedbackAdd.message }}</div>

            <div class="table-responsive" *ngIf="order.status != 3">
              <table class="table table-centered table-hover mb-0" id="datatable4">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">#</th>
                  <th class="border-top-0" scope="col">Name</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingredientItem of ingredients">

                  <td>{{ingredientItem.uniqueCode}}</td>
                  <td>{{ingredientItem.brand}} {{ingredientItem.type}}</td>
                  <td style="white-space: nowrap">
                    <button type="submit" class="btn btn-primary" (click)="saveTracing(ingredientItem.id, orderline.id)">Toevoegen</button>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="order.status == 3">Order is verzonden en kan niet meer gewijzigd worden</div>
          </div>      </div></div>
    </div>
  </div>
</div>
