<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<div class="row">

  <div class="col-md-6">


    <div class="card shadow-sm">
      <div class="card-body">
    <h2 class="h4"><a routerLink="/orders">Bestellingen</a></h2>
        <div class="card-text">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table table-centered table-hover mb-0" id="datatable2">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col"><i class="fas fa-shopping-cart ml-1"></i></th>
                  <th class="border-top-0" scope="col">Klant</th>
                  <th class="border-top-0" scope="col">Status</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderItem of orderList">

                  <td>{{orderItem.id}}</td>
                  <td>{{orderItem.customer.firstName}}</td>
                  <td>{{getStatusType(orderItem.status)}}</td>
                  <td style="white-space: nowrap">
                    <a [routerLink]="['../orders', orderItem.id ]" class="btn btn-secondary"><i class="fas fa-receipt"></i></a>&nbsp;
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>      </div></div>

    </div>
  </div>

  <div class="col-md-6">

    <div class="card shadow-sm">
      <div class="card-body">
        <div class="row">
    <h2 class="h4 ml-3"><a routerLink="/ingredients">Voorraad ingrediënten</a></h2>
          <div class="pl-3">
        <a [routerLink]="['../ingredients', 'new' ]" class="btn btn-primary">Nieuw</a>
          </div>
        </div>

        <div class="card-text">


          <div *ngIf="expiredList.length > 0" class="table-responsive">


            <table  class="alert-danger table table-centered table-hover mb-0" id="datatableExpired">
              <thead>
              <tr>
                <th class="border-top-0" scope="col"><i class="fas fa-cookie-bite ml-1"></i></th>
                <th class="border-top-0" scope="col">Vervallen ingrediënten:</th>
                <th class="border-top-0 " scope="col" style="width:125px"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let ingredient of expiredList" [class.active]="ingredient === selectedIngredient">
                <td>{{ingredient.uniqueCode}}</td>
                <td class="text-break">{{ingredient.brand}} {{ingredient.type}}</td>
                <td>
                  <a [routerLink]="['../ingredients', ingredient.id ]" class="btn btn-secondary mr-1"><i class="far fa-edit"></i></a>


                </td>
              </tr>
              </tbody>
            </table>
          </div>



    <div class="table-responsive">


      <table class="table table-centered table-hover mb-0" id="datatable">
        <thead>
        <tr>
          <th class="border-top-0" scope="col"><i class="fas fa-cookie-bite ml-1"></i></th>
          <th class="border-top-0" scope="col">Ingrediënt</th>
          <th class="border-top-0" scope="col">Stock</th>
          <th class="border-top-0 " scope="col" style="width:125px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredientItem of ingredientList" [class.active]="ingredientItem === selectedIngredient">
          <td>{{ingredientItem.uniqueCode}}</td>
          <td class="text-break">{{ingredientItem.brand}} {{ingredientItem.type}} ({{ingredientItem.purchaseDate}})</td>
          <td *ngIf="!ingredientItem.available"><i class="fa fa-ban rediconcolor" aria-hidden="true"></i></td>
          <td *ngIf="ingredientItem.available"><i class="fa fa-check-circle greeniconcolor" aria-hidden="true"></i></td>
          <td>
            <a [routerLink]="['../ingredients', ingredientItem.id ]" class="btn btn-secondary mr-1"><i class="far fa-edit"></i></a>

            <a [routerLink]="['../tracing', ingredientItem.uniqueCode ]" class="btn btn-secondary"><i class="fas fa-search"></i></a>&nbsp;

          </td>
        </tr>
        </tbody>
      </table>
      </div>
        </div>
          </div>



    </div>
  </div>


</div>
