<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BakMix.be bestelling</title>
    <link th:href="@{__${#httpServletRequest.scheme + '://' + #httpServletRequest.serverName + ':' + #httpServletRequest.serverPort}__/css/invoice.css}" rel="stylesheet" />
</head>

<body>
<header class="clearfix">
    <div id="logo">
        <img th:src="@{__${#httpServletRequest.scheme + '://' + #httpServletRequest.serverName + ':' + #httpServletRequest.serverPort}__/images/bakmix.png}"/>
    </div>
    <h1 th:text="'Factuur ' + ${orderEntry.id}"></h1>
    <div id="company">
        <div>Geleverd door:</div>
        <div>BakMix.be</div>
        <div>Bakstraat 1</div>
        <div>9240 Zele</div>
        <div>info@bakmix.be</div>
        <div>BTW nummer: BE 0123456789</div>
    </div>
    <div id="project">
        <div>Leveradres:</div>
        <div th:text="${orderEntry.customer.firstName} + ' ' + ${orderEntry.customer.lastName}"></div>
        <div th:text="${orderEntry.customer.address}"></div>
        <div th:text="${orderEntry.customer.zipCode} + ' ' + ${orderEntry.customer.city}"></div>
        <div th:text="${orderEntry.customer.phone}"></div>
        <div th:text="${orderEntry.customer.email}"></div>
    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">Product</th>
            <th class="desc">Stuks</th>
            <th>Stukprijs</th>
            <th>Totaal</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item : ${orderEntry.orderlines}">
            <td class="desc" th:text="${item.product.name}"></td>
            <td class="unit" th:text="${item.qty}"></td>
            <td class="unit" th:text="${item.purchasePrice}"></td>
            <td class="total" th:text="${item.purchasePrice * item.qty}"></td>
        </tr>


        <tr>
            <td colspan="3">Subtotaal</td>
            <td class="unit" th:text="${orderEntry.subTotal}"></td>
        </tr>
        <tr>
            <td colspan="3">Korting</td>
            <td class="unit" th:text="'- ' + ${orderEntry.discount}"></td>
        </tr>
        <tr>
            <td colspan="3">Verzending</td>
            <td class="unit" th:text="'+ ' + ${orderEntry.shippingCost}"></td>
        </tr>
        <tr>
            <td colspan="3">BTW</td>
            <td class="unit" th:text="'+ ' + ${orderEntry.vatTotal}"></td>
        </tr>
        <tr>
            <td colspan="3" class="grand total">Totaal</td>
            <td class="grand total" th:text="${orderEntry.total + 'EUR'}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    Bedankt voor de bestelling en smakelijk!
</footer>
</body>
</html>
