<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Interne tracing {{uniqueCode}}</li>
</ol>
<div class="row" >

  <div class="col-md-9">


                 <div class="card">
      <div class="card-body">
        <h2 class="h4">Gevonden orders voor ingrediënt {{uniqueCode}}</h2>
        <div class="card-text">
          <div class="card-text">

            <div *ngIf="orderList.length == 0">Niets gevonden</div>
            <div class="table-responsive" *ngIf="orderList.length > 0">
              <table class="table table-centered table-hover mb-0" id="datatable2">
                <thead>
                <tr>
                  <th class="border-top-0" scope="col">Order id</th>
                  <th class="border-top-0" scope="col">Klant</th>
                  <th class="border-top-0" scope="col">Gelinkte producten</th>
                  <th class="border-top-0" scope="col" style="width:120px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderItem of orderList">

                  <td>{{orderItem.id}}</td>
                  <td>{{orderItem.customer.firstName}}</td>

                  <td><ul *ngFor="let orderlineItem of orderItem.orderlines"><li>{{orderlineItem.product.name}}</li></ul></td>
                  <td style="white-space: nowrap">
                    <a [routerLink]="['../../orders', orderItem.id ]" class="btn btn-secondary">Bekijk</a>&nbsp;
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>      </div></div>

                   <a *ngIf="orderList.length > 0 && !ingredient.recalled" [routerLink]="['mail']" class="btn btn-danger ml-3 mt-2 mr-3">Terugroepactie starten</a>&nbsp;
                   <a *ngIf="orderList.length > 0 && ingredient.recalled"  class="disabled btn btn-danger ml-3 mt-2 mr-3">Terugroepactie reeds uitgevoerd</a>&nbsp;

                 </div>


  </div>
</div>
