<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['..']">Ingrediënten lijst</a>&nbsp;</li>
  <li class="breadcrumb-item active">Ingave ingrediënt</li>
</ol>
<div class="card">
  <div class="card-body">

    <div class="card-text">
    <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      <div *ngIf="ingredient.recalled" class="alert alert-danger">Opgelet: Dit ingrediënt is teruggeroepen</div>

      <form *ngIf="ingredient" #editForm="ngForm" (ngSubmit)="save()">

      <div class="form-group">
        <label>Id</label>
        {{ingredient.id || 'n/a'}}
      </div>

      <div class="form-group">
        <label for="uniqueCode">Unieke #</label>
        <input *ngIf="ingredient.id == null" [(ngModel)]="ingredient.uniqueCode" id="uniqueCode" name="uniqueCode" #uniqueCode="ngModel" class="form-control" required
               [ngClass]="{'is-invalid': uniqueCode.touched && uniqueCode.invalid,  'is-valid': uniqueCode.touched && uniqueCode.valid}">
        <input *ngIf="ingredient.id != null" [(ngModel)]="ingredient.uniqueCode" id="uniqueCode2" name="uniqueCode" class="form-control" readonly>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input [(ngModel)]="ingredient.type" id="type" name="type" class="form-control" required #type="ngModel"
               [ngClass]="{'is-invalid': type.touched && type.invalid,  'is-valid': type.touched && type.valid}">
      </div>

      <div class="form-group">
        <label for="brand">Merk</label>
        <input [(ngModel)]="ingredient.brand" id="brand" name="brand" class="form-control" required #merk="ngModel"
               [ngClass]="{'is-invalid': merk.touched && merk.invalid,  'is-valid': merk.touched && merk.valid}">
      </div>



      <div class="form-group">

          <label for="d2">Aankoopdatum</label>
        <div class="col-md-3 ml-0 pl-0">
        <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" id="d2" required
               [ngClass]="{'is-invalid': c2.touched && c2.invalid,  'is-valid': c2.touched && c2.valid}"
               name="d2" #c2="ngModel" [(ngModel)]="purchaseDate" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary bi-calendar" (click)="d2.toggle()" type="button" aria-label="calendar button"></button>
</div>
        </div>
        </div>
      </div>


      <div class="form-group">
        <label for="purchaseLocation">Aankooplocatie</label>
        <input [(ngModel)]="ingredient.purchaseLocation" id="purchaseLocation" name="purchaseLocation" class="form-control" required #location="ngModel"
               [ngClass]="{'is-invalid': location.touched && location.invalid,  'is-valid': location.touched && location.valid}">
      </div>

      <div class="form-group">
        <label for="lotNumber">Lot nummer</label>
        <input [(ngModel)]="ingredient.lotNumber" id="lotNumber" name="lotNumber" class="form-control" required #lot="ngModel"
               [ngClass]="{'is-invalid': lot.touched && lot.invalid,  'is-valid': lot.touched && lot.valid}">
      </div>

      <div class="form-group">
        <label for="volume">Volume</label>
        <input [(ngModel)]="ingredient.volume" id="volume" name="volume" class="form-control" required #volume="ngModel"
               [ngClass]="{'is-invalid': volume.touched && volume.invalid,  'is-valid': volume.touched && volume.valid}">
      </div>

      <div class="form-group">

        <label for="d3">Vervaldatum</label>
        <div class="col-md-3 ml-0 pl-0">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="d3" required
                   [ngClass]="{'is-invalid': c3.touched && c3.invalid,  'is-valid': c3.touched && c3.valid}"
                   name="d3" #c3="ngModel" [(ngModel)]="expiryDate" ngbDatepicker #d3="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary bi-calendar" (click)="d3.toggle()" type="button" aria-label="calendar button"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="ingredient.id != null">
        <label>Available</label>
        <select name="available" [(ngModel)]="ingredient.available" class="form-control">
          <option [ngValue]="false"  id="true" name="available" >Niet beschikbaar</option>
          <option [ngValue]="true"  id="false" name="available">In voorraad</option>
        </select>
      </div>


      <button type="submit" title="Alle velden moeten ingevuld worden" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
    </form>
    </div>
  </div>
</div>
