<div class="card">
  <div class="card-body">
    <h2 class="card-title">Ingrediënten lijst</h2>
    <div class="card-text">


    <form #f="ngForm" class="form-inline">

      <div class="form-group">
        <label for="id">Unieke code:</label>
        <input [(ngModel)]="filter.id" id="id" name="id" class="form-control ml-2 mr-2">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <button (click)="ngOnInit()" [disabled]="!f?.valid" class="ml-1 btn btn-primary">Clear</button>

      <a [routerLink]="['../ingredients', 'new' ]" class="ml-1 btn btn-success">Nieuw</a>
    </form>
  </div>

    <div *ngIf="ingredientList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}} m-2">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Unique #</th>
          <th class="border-top-0" scope="col">Type</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Brand</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Purchase Date</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Purchase Location</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Lot Number</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Volume</th>
          <th class="border-top-0" scope="col">Available</th>
          <th class="border-top-0" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ingredientList" [class.active]="item === selectedIngredient">
          <td>{{item.uniqueCode}}</td>
          <td>{{item.type}}</td>
          <td class="d-none d-sm-table-cell">{{item.brand}}</td>
          <td class="d-none d-sm-table-cell">{{item.purchaseDate}}</td>
          <td class="d-none d-sm-table-cell">{{item.purchaseLocation}}</td>
          <td class="d-none d-sm-table-cell">{{item.lotNumber}}</td>
          <td class="d-none d-sm-table-cell">{{item.volume}}</td>
          <td>{{item.available}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../ingredients', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button *ngIf="item.available == true" (click)="switchIngredientStatus(item)" class="btn btn-dark mr-1">Niet beschikbaar</button>
            <button *ngIf="item.available == false" (click)="switchIngredientStatus(item)" class="btn btn-success mr-1">Wel beschikbaar</button>
            <a [routerLink]="['../tracing', item.uniqueCode ]" class="btn btn-info">Trace</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 </div>
</div>
