<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active"><a>Ingrediënten lijst</a>&nbsp;</li>
</ol>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Ingrediënten lijst</h2>
    <div class="card-text">


    <form #f="ngForm" class="form-inline">

      <div class="form-group">
        <label for="id">Unieke code:</label>
        <input [(ngModel)]="filter.id" id="id" name="id" class="form-control ml-2 mr-2">
      </div>

      <button (click)="search()" [disabled]="!filter.id" class="btn btn-primary">Search</button>
      <button (click)="ngOnInit()" [disabled]="!f?.valid" class="ml-1 btn btn-primary">Wissen</button>

      <a [routerLink]="['../ingredients', 'new' ]" class="ml-1 btn btn-success">Nieuw</a>
    </form>
  </div>

    <div *ngIf="ingredientList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}} m-2">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Uniek #</th>
          <th class="border-top-0" scope="col">Type</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Merk</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Aankoopdatum</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Aankooplocatie</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Lot</th>
          <th class="border-top-0 d-none d-sm-table-cell" scope="col">Volume</th>
          <th class="border-top-0" scope="col">Stock</th>
          <th class="border-top-0" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ingredientList" [class.active]="item === selectedIngredient">
          <td>{{item.uniqueCode}}</td>
          <td  class="text-break">{{item.type}}</td>
          <td class="d-none d-sm-table-cell">{{item.brand}}</td>
          <td class="d-none d-sm-table-cell">{{item.purchaseDate}}</td>
          <td class="d-none d-sm-table-cell">{{item.purchaseLocation}}</td>
          <td class="d-none d-sm-table-cell">{{item.lotNumber}}</td>
          <td class="d-none d-sm-table-cell">{{item.volume}}</td>

          <td *ngIf="item.available == true"><i (click)="switchIngredientStatus(item)" title="Is beschikbaar" role="button" class="fas fa-circle greeniconcolor"></i></td>
          <td *ngIf="item.available == false"><i class="far fa-circle rediconcolor" title="Is op"></i></td>

          <td style="white-space: nowrap">
            <a [routerLink]="['../ingredients', item.id ]" class="btn btn-secondary" title="Bewerken" ><i class="fas fa-edit"></i></a>&nbsp;
             <a [routerLink]="['../tracing', item.uniqueCode ]" class="btn btn-info" title="Trace" ><i class="fas fa-search"></i></a>&nbsp;
            <button *ngIf="!item.linked" (click)="delete(item)" class="btn btn-danger" title="Verwijderen"><i class="fas fa-trash-alt"></i></button>
            <button *ngIf="item.linked" class="btn btn-danger disabled" title="Verwijderen niet mogelijk want ingrediënt is gekoppeld"><i class="fas fa-trash-alt"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [maxSize]="10"
                      [collectionSize]="total$ | async" [(page)]="filter.page" [pageSize]="filter.size" (pageChange)="onPageChange(filter.page)">
      </ngb-pagination>
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="filter.size" (ngModelChange)="onChange(filter.size)">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
    </div>
  </div>
</div>
 </div>
</div>
