<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a>Klanten lijst</a>&nbsp;</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Customer List</h2>
  </div>

</div>
<div class="card" *ngIf="customerList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">First Name</th>
          <th class="border-top-0" scope="col">Last Name</th>
          <th class="border-top-0" scope="col">Address line</th>
          <th class="border-top-0" scope="col">Zip code</th>
          <th class="border-top-0" scope="col">City</th>
          <th class="border-top-0" scope="col">Phone #</th>
          <th class="border-top-0" scope="col">email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of customerList" [class.active]="item === selectedCustomer">

          <td>{{item.id}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.address}}</td>
          <td>{{item.zipCode}}</td>
          <td>{{item.city}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.email}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
